.webcraft_box {
	flex: 1;
	display: flex;
	flex-direction: column;
	width: 100%;
	height: 100%;
	max-width: 100%;
}
.webcraft_toolbar.webcraft_box_header {
	background-color: var(--webcraft-bg-color-gray);
	height: 34px;
	padding: 0 var(--webcraft-space);
}
.webcraft_header_title {
	font-weight: 600;
}
.webcraft_box_content {
	flex: 1;
	display: flex;
	overflow: auto;
	position: relative;
}
.webcraft_box--ui > .webcraft_box_content {
	background-color: #FFF;
}
.webcraft_box--line.webcraft_box--ui {
	margin: 1px;
	width: calc(100% - 2px);
	height: calc(100% - 2px);
}
.webcraft_box--line.webcraft_box--container,
.webcraft_box--line.webcraft_box.webcraft_box--space {
	margin: 1px;
	width: calc(100% - 4px);
	height: calc(100% - 4px);
	border: var(--webcraft-border-size) solid var(--webcraft-border-color);
}

.webcraft_box--small.webcraft_box--ui {
	margin: 1px;
	width: calc(100% - 2px);
	height: calc(100% - 2px);
}
.webcraft_box--small.webcraft_box--container,
.webcraft_box--small.webcraft_box.webcraft_box--space {
	margin: 4px;
	width: calc(100% - 10px);
	height: calc(100% - 10px);
	border: var(--webcraft-border-size) solid var(--webcraft-border-color);
}

.webcraft_box--large.webcraft_box--ui {
	margin: 1px;
	width: calc(100% - 2px);
	height: calc(100% - 2px);
}
.webcraft_box--large.webcraft_box--container,
.webcraft_box--large.webcraft_box.webcraft_box--space {
	margin: 8px;
	width: calc(100% - 18px);
	height: calc(100% - 18px);
	border: var(--webcraft-border-size) solid var(--webcraft-border-color);
}
.webcraft_flex--row > .webcraft_box--collapsed > .webcraft_box_header {
	writing-mode: tb-rl;
	transform: rotate(-180deg);
	justify-content: flex-end;
	flex: 1;
}
.webcraft_flex--row > .webcraft_box--collapsed > .webcraft_box_header > .webcraft_space {
	display: none;
}